<div [ngClass]="'title'">手工藝</div>
<div [ngClass]="'rwords'">
  <div [ngClass]="'list'">
    <span>種類</span>
    <span><a [routerLink]="['filter', 'kind', 'hitpower']" (click)="clink('1')" [ngClass]="{'active': selected === '1'}">打擊</a></span>
    <span><a [routerLink]="['filter', 'kind', 'blood']" (click)="clink('2')" [ngClass]="{'active': selected === '2'}">生命</a></span>
    <span><a [routerLink]="['filter', 'kind', 'caster']" (click)="clink('3')" [ngClass]="{'active': selected === '3'}">施法</a></span>
    <span><a [routerLink]="['filter', 'kind', 'safety']" (click)="clink('4')" [ngClass]="{'active': selected === '4'}">防護</a></span>
  </div>
  <div [ngClass]="'list'">
    <span>部位</span>
    <span><a [routerLink]="['filter', 'part', 'helmet']" (click)="clink('5')" [ngClass]="{'active': selected === '5'}">頭盔</a></span>
    <span><a [routerLink]="['filter', 'part', 'armor']" (click)="clink('6')" [ngClass]="{'active': selected === '6'}">盔甲</a></span>
    <span><a [routerLink]="['filter', 'part', 'belt']" (click)="clink('7')" [ngClass]="{'active': selected === '7'}">腰帶</a></span>
    <span><a [routerLink]="['filter', 'part', 'glove']" (click)="clink('8')" [ngClass]="{'active': selected === '8'}">手套</a></span>
    <span><a [routerLink]="['filter', 'part', 'boot']" (click)="clink('9')" [ngClass]="{'active': selected === '9'}">靴子</a></span>
    <span><a [routerLink]="['filter', 'part', 'shield']" (click)="clink('10')" [ngClass]="{'active': selected === '10'}">盾牌</a></span>
    <span><a [routerLink]="['filter', 'part', 'necklace']" (click)="clink('11')" [ngClass]="{'active': selected === '11'}">項鍊</a></span>
    <span><a [routerLink]="['filter', 'part', 'ring']" (click)="clink('12')" [ngClass]="{'active': selected === '12'}">戒指</a></span>
    <span><a [routerLink]="['filter', 'part', 'weapon']" (click)="clink('13')" [ngClass]="{'active': selected === '13'}">武器</a></span>
  </div>
</div>
<router-outlet></router-outlet>
