<!-- <p mat-dialog-title></p> -->
<!-- <mat-dialog-content> -->
<div [ngClass]="'affixes'">
  <div [ngClass]="'container'">
    <div [ngClass]="'prefix'">
      <table [ngClass]="'block'" *ngIf="data.abilitys | filteraffixe: data.type : data.type_detail; let pres">
        <thead>
          <th>名稱</th>
          <th>等級</th>
          <th>詞綴</th>
        </thead>
        <tbody>
          <tr [ngClass]="'affixe'" *ngFor="let p of pres">
            <td [ngClass]="'name'">{{ p.name }}({{ p.name_en }})</td>
            <td [ngClass]="'level'">{{ showLevel(p.level) }}</td>
            <td [innerHTML]="showAbility(data.format, p.value)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- </mat-dialog-content> -->

<!-- <mat-dialog-actions [ngClass]="'action'"> -->
<div [ngClass]="'closecontainer'">
  <div>
    <a mat-dialog-close (click)="close()" [ngClass]="'close'">關閉</a>
  </div>
</div>
<!-- </mat-dialog-actions> -->
