<div [ngClass]="'title'">{{ type }}:{{ type_detail}}</div>
<div *ngIf="runewords | async; let items">
  <table [ngClass]="'runes'">
    <thead>
      <th>分類</th>
      <th>裝備需求</th>
      <th>裝備效果</th>
      <th>限制</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | filterruneword: type : type_detail">
        <td>{{ types[item.type] }}</td>
        <td>
          <p [ngClass]="'name'">{{ item.name }}</p>
          <p [ngClass]="'name'">{{ item.name_en }}</p>
          <p [ngClass]="'ladder'" *ngIf="item.ladder">天梯限定</p>
          <p>&nbsp;</p>
          <p [ngClass]="'slot'">
            需要&nbsp;{{ item.slot }}&nbsp;鑲孔
          </p>
          <p [ngClass]="'rune'">
            <ng-container *ngFor="let o of item.order; let last = last">
              <img [src]="'/assets/images/rune/' + o + '_Rune.png'"><span>{{ control[o] }}</span>
              <ng-container *ngIf="!last">
                <div [ngClass]="'fas'"></div>
              </ng-container>
            </ng-container>
          </p>
          <p>&nbsp;</p>
          <p>需要等級：{{ item.level }}</p>
        </td>
        <td [ngClass]="'effect'">
          <ng-container *ngFor="let a of item.ability">
            <p>{{ a }}</p>
          </ng-container>
        </td>
        <td [ngClass]="'limit'">
          <ng-container *ngIf="item.weaponlimit.length > 0">
            武器限定：<br><span *ngFor="let weapon of item.weaponlimit; let last = last">{{ weapontypes[weapon] }}{{ last ? '' : '/'}}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
