<div [ngClass]="'title'">
  <span *ngFor="let filter of filters; let last = last">
    {{ filter }}{{ last ? '' : ';' }}
  </span>
</div>
<div *ngIf="runewords | async; let items">
  <table [ngClass]="'runes'">
    <thead>
      <th>分類</th>
      <th>需要裝備</th>
      <th>詞綴</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | filterruneword: filtersFormat">
        <td>{{ types[item.type] }}</td>
        <td>
          <p [ngClass]="'name'">{{ item.name }}</p>
          <p [ngClass]="'name'">{{ item.name_en }}</p>
          <p [ngClass]="'ladder'" *ngIf="item.ladder">天梯限定</p>
          <p>&nbsp;</p>
          <p [ngClass]="'slot'">
            需要&nbsp;{{ item.slot }}&nbsp;鑲孔
          </p>
          <p [ngClass]="'rune'">
            <ng-container *ngFor="let o of item.order; let last = last">
              <img
                [src]="'/assets/images/rune/' + o + '_Rune.png'"><span>{{ control[o].name }}({{ control[o].code }})</span>
              <ng-container *ngIf="!last">
                <div [ngClass]="'fas'"></div>
              </ng-container>
            </ng-container>
          </p>
          <p>&nbsp;</p>
          <p>需要等級：{{ item.level }}</p>
          <div [ngClass]="'limit'" *ngIf="item.weaponlimit.length > 0 && item.weaponlimit[0] !== 'weapons'">
            <ng-container>
              限定：<span
                *ngFor="let weapon of item.weaponlimit; let last = last"><a [href]="weapontypes[weapon].url">{{ weapontypes[weapon].name }}</a>{{ last ? '' : '/'}}</span>
            </ng-container>
          </div>
          <div [ngClass]="'limit'" *ngIf="item.attack !== ''">
            <ng-container>
              限定：<a [href]="weapontypes[item.attack].url">{{ weapontypes[item.attack].name }}</a>
            </ng-container>
          </div>
          <mat-icon (click)="genandcopy(item)" [matTooltip]="'複製連結'">link</mat-icon>
        </td>
        <td [ngClass]="'effect'">
          <ng-container *ngFor="let a of item.ability; let i = index">
            <p [innerHTML]="showAbility(a, item.ability_values[i])"></p>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
