.title {
  background-color: #444444;
  color: #bb9e74;
  padding: 24px;
  font-size: 20pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.runes {
  width: 100%;
  text-align: center;
  color: white;
  border-collapse: collapse;
  margin-bottom: 10px;
  background-color: #444444;

  th,
  td {
    padding: 16px;
    border: 1px solid #1f1f1f;
  }

  th {
    font-size: 20px;
    background-color: #303030;
  }

  tr:nth-child(odd) {
    background-color: #3c3c3c;
  }

  tr:nth-child(even) {
    background-color: #303030;
  }

  tr:hover {
    background-color: #272727;
  }

  td {
    font-size: 20px;
    vertical-align: top;

    &:first-child {
      vertical-align: top;
    }

    .name {
      color: #dcc684;
    }

    .ladder {
      color: #8b8b8b;
    }

    .slot {
      color: #7a7aff;
    }

    &.limit {
      text-align: left;
      line-height: 24px;
    }

    .rune {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffba00;
      flex-wrap: wrap;

      img {
        width: 24px;
      }

      * {
        margin: 4px;
      }
    }

    &.effect {
      color: #7a7aff;
    }

    span {
      white-space: pre-wrap;
    }
  }

  .margin {
    border-bottom: 20px solid #222222;
  }
}

.fas {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent #878787;
  display: inline-block;
}
