<div [ngClass]="'title'">{{ type }}:{{ type_detail}}</div>
<div *ngIf="armors | async | filternormalarmor: type : type_detail; let items">
  <ng-container *ngFor="let td of (partNeedtofind.includes(type_detail) ? getUniqueKind(items) : toArray(type_detail))">
    <ng-container [ngSwitch]="td">
      <ng-container
        *ngSwitchCase="['helmet', 'barbarianhelmet', 'druidpeltshelmet', 'barbarian', 'druld'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['armor'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>重量</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
            <th>傷害減少</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>{{ weights[getvalue(item, 'weight')] }}</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
                <td>{{ getvalue(item, 'damage_reduction') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['belt'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>容量格數</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'capacity') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['glove'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['boot'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>刺客踢擊傷害</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>
                  {{ getvalue(getobject(item, 'assassin_kick_damage'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'assassin_kick_damage'), 'max') }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['shield'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>重量</th>
            <th>防禦</th>
            <th>重擊傷害</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
            <th>格檔率(%)</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>{{ weights[getvalue(item, 'weight')] }}</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>
                  {{ getvalue(getobject(item, 'critical_damage'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'critical_damage'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
                <td>{{ getvalue(item, 'block') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['paladinshield', 'paladin'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>重擊傷害</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
            <th>格檔率(%)</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>
                  {{ getvalue(getobject(item, 'critical_damage'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'critical_damage'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
                <td>{{ getvalue(item, 'block') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['ncershrunkenhead', 'necromancer'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>需要力量</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
            <th>格檔率(%)</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'strength') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
                <td>{{ getvalue(item, 'block') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngSwitchCase="['circlet'].includes(td) ? td : !td">
        <div [ngClass]="'title'">{{ parts[td] }}</div>
        <table [ngClass]="'armors'">
          <thead>
            <th>圖片</th>
            <th>名稱</th>
            <th>防禦</th>
            <th>物品等級</th>
            <th>需要等級</th>
            <th>耐久度</th>
            <th>最大鑲孔數</th>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let group of toGroup(items | filternormalarmor: (partNeedtofind.includes(type_detail) ? 'part' : type) : td) | keyvalue">
              <tr *ngFor="let item of typeChange(group.value); let i = index; let last = last"
                [ngClass]="{'bottom': last, 'top': i%2 == 0 }">
                <td *ngIf="i%getLength(group.value) === 0" [attr.rowspan]="getLength(group.value)"><img
                    [src]="'/assets/images/items/normal/armor/' + getvalue(item, 'part') + '/' + getvalue(item, 'group') + '.png'">
                </td>
                <td>{{ getvalue(item, 'name') }}<br>({{ getvalue(item, 'name_en') }})</td>
                <td>
                  {{ getvalue(getobject(item, 'defense'), 'min') }}&nbsp;-&nbsp;{{ getvalue(getobject(item, 'defense'), 'max') }}
                </td>
                <td>{{ getvalue(item, 'itemlevel') }}</td>
                <td>{{ getvalue(item, 'level') }}</td>
                <td>{{ getvalue(item, 'durability') }}</td>
                <td>{{ getvalue(item, 'max_slot') }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
