<mat-sidenav-container [ngClass]="{'app-container': true}">
  <mat-sidenav mode="push" #sideNav [ngClass]="{'app-sidenav': true, 'app-sidenav-hidden': windowWidth > 880 }">
    <mat-accordion>
      <mat-nav-list>
        <a [routerLink]="['/', 'home']" (click)="sideNav.toggle()" mat-list-item>
          <span>&nbsp;暗黑2年代記&nbsp;</span>
        </a>
        <a [routerLink]="['/', 'items']" (click)="sideNav.toggle()" mat-list-item>
          <span>&nbsp;物品&nbsp;</span>
        </a>
        <a [routerLink]="['/', 'runewords']" (click)="sideNav.toggle()" mat-list-item>
          <span>&nbsp;符文&nbsp;</span>
        </a>
        <a [routerLink]="['/', 'recipes']" (click)="sideNav.toggle()" mat-list-item>
          <span>&nbsp;配方&nbsp;</span>
        </a>
      </mat-nav-list>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content #sidenav_content (scroll)="onScroll($event)" [ngStyle]="{'scroll-behavior': 'smooth'}">
    <mat-toolbar [ngClass]="{'toolbar-header': true, 'fixed': fixed && !(windowWidth > 880)}" color="primary"
      (window:resize)="onResize($event)">
      <mat-toolbar-row [ngClass]="['header_outer', 'header-top']" *ngIf="windowWidth <= 880">
        <div [ngClass]="'header'">
          <a [routerLink]="['/']">暗黑2年代記</a>
          <span [ngClass]="'toolbar-seprator'"></span>
          <span (click)="sideNav.toggle()" *ngIf="windowWidth <= 880" mat-icon-button>
            <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
          </span>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row [ngClass]="{'header_outer': true, 'header-top-second': true, 'fixed': fixed}"
        *ngIf="windowWidth > 880">
        <div [ngClass]="'header'">
          <div [ngClass]="'nav'">
            <ul>
              <li>
                <a [routerLink]="['/', 'home']" [ngStyle]="{'color': 'white', 'font-size': '18pt'}">
                  <span>&nbsp;暗黑2年代記&nbsp;</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/', 'items']">
                  <span>&nbsp;物品&nbsp;</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/', 'runewords']">
                  <span>&nbsp;符文&nbsp;</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/', 'recipes']">
                  <span>&nbsp;配方&nbsp;</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- 在這之後的都會被推到右邊去 -->
          <span [ngClass]="'toolbar-seprator'"></span>
          <span [ngClass]="'icons'">
          </span>
          <!-- </mat-nav-list> -->
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div [ngClass]="'container_outlet'">
      <div [ngClass]="'container'">
        <router-outlet></router-outlet>
      </div>
    </div>
    <mat-toolbar [ngClass]="'toolbar-footer'" color="primary">
      <mat-toolbar-row [ngClass]="'footer_outer'">
        <div [ngClass]="'relate_link'">

        </div>
        <div [ngClass]="'footer'">
          <span>
            <span>Copyright&nbsp;&copy;&nbsp;2021</span>
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-icon [ngClass]="'toTop'" (click)="scrollTop()" *ngIf="fixed">arrow_back_ios</mat-icon>
  </mat-sidenav-content>
</mat-sidenav-container>
