<div [ngClass]="'contents'">
  <div [ngClass]="'title'">符文組</div>
  <div [ngClass]="'rwords'">
    <div [ngClass]="'list'">
      <span>分類</span>
      <span><a>武器</a></span>
      <span><a>頭盔</a></span>
      <span><a>盔甲</a></span>
      <span><a>盾牌</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>凹槽數</span>
      <span><a>2</a></span>
      <span><a>3</a></span>
      <span><a>4</a></span>
      <span><a>5</a></span>
      <span><a>6</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>職業</span>
      <span><a>法師</a></span>
      <span><a>聖騎士</a></span>
      <span><a>死靈法師</a></span>
      <span><a>亞馬遜</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>武器</span>
      <span><a>劍</a></span>
      <span><a>斧</a></span>
      <span><a>釘頭錘</a></span>
      <span><a>法杖</a></span>
      <span><a>權杖</a></span>
      <span><a>長斧</a></span>
      <span><a>棍棒</a></span>
      <span><a>長炳戰斧</a></span>
      <span><a>爪</a></span>
      <span><a>武器</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>攻擊類型</span>
      <span><a>近戰</a></span>
      <span><a>遠程</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>符文</span>
      <span><a>艾爾</a></span>
      <span><a>艾德</a></span>
      <span><a>特爾</a></span>
      <span><a>那夫</a></span>
      <span><a>愛斯</a></span>
      <span><a>伊司</a></span>
      <span><a>塔爾</a></span>
      <span><a>拉爾</a></span>
      <span><a>歐特</a></span>
      <span><a>書爾</a></span>
      <span><a>安姆</a></span>
      <span><a>索爾</a></span>
      <span><a>夏</a></span>
      <span><a>多爾</a></span>
      <span><a>海爾</a></span>
      <span><a>破</a></span>
      <span><a>盧姆</a></span>
      <span><a>科</a></span>
      <span><a>法爾</a></span>
      <span><a>藍姆</a></span>
      <span><a>普爾</a></span>
      <span><a>烏姆</a></span>
      <span><a>馬爾</a></span>
      <span><a>伊斯特</a></span>
      <span><a>古爾</a></span>
      <span><a>伐克斯</a></span>
      <span><a>歐姆</a></span>
      <span><a>羅</a></span>
      <span><a>瑟</a></span>
      <span><a>貝</a></span>
      <span><a>喬</a></span>
      <span><a>查姆</a></span>
      <span><a>薩德</a></span>
    </div>
  </div>
  <div [ngClass]="'title'">符文</div>
  <div >

  </div>
</div>
