<div [ngClass]="'contents'">
  <div [ngClass]="'title'">符文</div>
  <div [ngClass]="'rwords'">
    <div [ngClass]="'list'">
      <span>符文</span>
      <span><a [routerLink]="['rune']" (click)="clink('1')" [ngClass]="{'active': selected === '1'}">符文</a></span>
    </div>
  </div>
  <div [ngClass]="'title'">符文組</div>
  <div [ngClass]="'rwords'">
    <div [ngClass]="'list'">
      <span>分類</span>
      <span><a [routerLink]="['filter', 'type', 'weapon']" (click)="clink('2')" [ngClass]="{'active': selected === '2'}">武器</a></span>
      <span><a [routerLink]="['filter', 'type', 'helmet']" (click)="clink('3')" [ngClass]="{'active': selected === '3'}">頭盔</a></span>
      <span><a [routerLink]="['filter', 'type', 'armor']" (click)="clink('4')" [ngClass]="{'active': selected === '4'}">盔甲</a></span>
      <span><a [routerLink]="['filter', 'type', 'shield']" (click)="clink('5')" [ngClass]="{'active': selected === '5'}">盾牌</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>鑲孔數</span>
      <span><a [routerLink]="['filter', 'slot', '2']" (click)="clink('6')" [ngClass]="{'active': selected === '6'}">2</a></span>
      <span><a [routerLink]="['filter', 'slot', '3']" (click)="clink('7')" [ngClass]="{'active': selected === '7'}">3</a></span>
      <span><a [routerLink]="['filter', 'slot', '4']" (click)="clink('8')" [ngClass]="{'active': selected === '8'}">4</a></span>
      <span><a [routerLink]="['filter', 'slot', '5']" (click)="clink('9')" [ngClass]="{'active': selected === '9'}">5</a></span>
      <span><a [routerLink]="['filter', 'slot', '6']" (click)="clink('10')" [ngClass]="{'active': selected === '10'}">6</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>職業</span>
      <span><a [routerLink]="['filter', 'limit', 'sorceress']" (click)="clink('11')" [ngClass]="{'active': selected === '11'}">魔法使</a></span>
      <span><a [routerLink]="['filter', 'limit', 'paladin']" (click)="clink('12')" [ngClass]="{'active': selected === '12'}">聖騎士</a></span>
      <span><a [routerLink]="['filter', 'limit', 'necromancer']" (click)="clink('13')" [ngClass]="{'active': selected === '13'}">死靈法師</a></span>
      <span><a [routerLink]="['filter', 'limit', 'amazon']" (click)="clink('14')" [ngClass]="{'active': selected === '14'}">亞馬遜</a></span>
      <span><a [routerLink]="['filter', 'limit', 'barbarian']" (click)="clink('15')" [ngClass]="{'active': selected === '15'}">野蠻人</a></span>
      <span><a [routerLink]="['filter', 'limit', 'assassin']" (click)="clink('16')" [ngClass]="{'active': selected === '16'}">刺客</a></span>
      <span><a [routerLink]="['filter', 'limit', 'druld']" (click)="clink('17')" [ngClass]="{'active': selected === '17'}">德魯伊</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>武器</span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'sword']" (click)="clink('18')" [ngClass]="{'active': selected === '18'}">刀劍</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'axe']" (click)="clink('19')" [ngClass]="{'active': selected === '19'}">斧頭</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'polearm']" (click)="clink('20')" [ngClass]="{'active': selected === '20'}">長柄</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'mace']" (click)="clink('21')" [ngClass]="{'active': selected === '21'}">釘鎚</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'scepter']" (click)="clink('22')" [ngClass]="{'active': selected === '22'}">權杖</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'wand']" (click)="clink('23')" [ngClass]="{'active': selected === '23'}">魔杖</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'stave']" (click)="clink('24')" [ngClass]="{'active': selected === '24'}">法杖</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'assassinkatar']" (click)="clink('27')" [ngClass]="{'active': selected === '27'}">爪</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'club']" (click)="clink('25')" [ngClass]="{'active': selected === '25'}">棍棒</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'hammer']" (click)="clink('26')" [ngClass]="{'active': selected === '26'}">槌子</a></span>
      <span><a [routerLink]="['filter', 'weaponlimit' , 'weapons']" (click)="clink('99')" [ngClass]="{'active': selected === '99'}">任何武器</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>攻擊類型</span>
      <span><a [routerLink]="['filter', 'attack', 'melee']" (click)="clink('28')" [ngClass]="{'active': selected === '28'}">近戰</a></span>
      <span><a [routerLink]="['filter', 'attack', 'missile']" (click)="clink('29')" [ngClass]="{'active': selected === '29'}">遠程</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>符文</span>
      <span><a [routerLink]="['filter', 'rune', 'El']" (click)="clink('30')" [ngClass]="{'active': selected === '30'}">艾爾(1)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Eld']" (click)="clink('31')" [ngClass]="{'active': selected === '31'}">艾德(2)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Tir']" (click)="clink('32')" [ngClass]="{'active': selected === '32'}">特爾(3)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Nef']" (click)="clink('33')" [ngClass]="{'active': selected === '33'}">那夫(4)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Eth']" (click)="clink('34')" [ngClass]="{'active': selected === '34'}">愛斯(5)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ith']" (click)="clink('35')" [ngClass]="{'active': selected === '35'}">伊司(6)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Tal']" (click)="clink('36')" [ngClass]="{'active': selected === '36'}">塔爾(7)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ral']" (click)="clink('37')" [ngClass]="{'active': selected === '37'}">拉爾(8)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ort']" (click)="clink('38')" [ngClass]="{'active': selected === '38'}">歐特(9)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Thul']" (click)="clink('39')" [ngClass]="{'active': selected === '39'}">書爾(10)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Amn']" (click)="clink('40')" [ngClass]="{'active': selected === '40'}">安姆(11)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Sol']" (click)="clink('41')" [ngClass]="{'active': selected === '41'}">索爾(12)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Shael']" (click)="clink('42')" [ngClass]="{'active': selected === '42'}">夏(13)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Dol']" (click)="clink('43')" [ngClass]="{'active': selected === '43'}">多爾(14)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Hel']" (click)="clink('44')" [ngClass]="{'active': selected === '44'}">海爾(15)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Io']" (click)="clink('45')" [ngClass]="{'active': selected === '45'}">埃歐(16)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Lum']" (click)="clink('46')" [ngClass]="{'active': selected === '46'}">盧姆(17)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ko']" (click)="clink('47')" [ngClass]="{'active': selected === '47'}">科(18)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Fal']" (click)="clink('48')" [ngClass]="{'active': selected === '48'}">法爾(19)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Lem']" (click)="clink('49')" [ngClass]="{'active': selected === '49'}">藍姆(20)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Pul']" (click)="clink('50')" [ngClass]="{'active': selected === '50'}">普爾(21)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Um']" (click)="clink('51')" [ngClass]="{'active': selected === '51'}">烏姆(22)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Mal']" (click)="clink('52')" [ngClass]="{'active': selected === '52'}">馬爾(23)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ist']" (click)="clink('53')" [ngClass]="{'active': selected === '53'}">伊斯特(24)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Gul']" (click)="clink('54')" [ngClass]="{'active': selected === '54'}">古爾(25)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Vex']" (click)="clink('55')" [ngClass]="{'active': selected === '55'}">伐克斯(26)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ohm']" (click)="clink('56')" [ngClass]="{'active': selected === '56'}">歐姆(27)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Lo']" (click)="clink('57')" [ngClass]="{'active': selected === '57'}">羅(28)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Sur']" (click)="clink('58')" [ngClass]="{'active': selected === '58'}">瑟(29)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Ber']" (click)="clink('59')" [ngClass]="{'active': selected === '59'}">貝(30)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Jah']" (click)="clink('60')" [ngClass]="{'active': selected === '60'}">喬(31)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Cham']" (click)="clink('61')" [ngClass]="{'active': selected === '61'}">查姆(32)</a></span>
      <span><a [routerLink]="['filter', 'rune', 'Zod']" (click)="clink('62')" [ngClass]="{'active': selected === '62'}">薩德(33)</a></span>
    </div>
    <div [ngClass]="'list'">
      <span>天梯</span>
      <span><a [routerLink]="['filter', 'ladder', 'ladder']" (click)="clink('63')" [ngClass]="{'active': selected === '63'}">天梯</a></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
