<div [ngClass]="'contents'">
  <div [ngClass]="'title'">符文</div>
  <div [ngClass]="'rwords'">
    <div [ngClass]="'list'">
      <span>符文</span>
      <span [routerLink]="['rune']" (click)="clink('1')" [ngClass]="{'active': selected === '1'}" >符文</span>
    </div>
  </div>
  <div [ngClass]="'title'">符文組<span (click)="clearfilters()" [ngClass]="'clear'">清除過濾</span></div>
  <div [ngClass]="'rwords'">
    <div [ngClass]="'list'">
      <span>分類</span>
      <span (click)="addfilter('type:weapon')" [ngClass]="{'active': filters.includes('type:weapon')}">武器</span>
      <span (click)="addfilter('type:helmet')" [ngClass]="{'active': filters.includes('type:helmet')}">頭盔</span>
      <span (click)="addfilter('type:armor')" [ngClass]="{'active': filters.includes('type:armor')}">盔甲</span>
      <span (click)="addfilter('type:shield')" [ngClass]="{'active': filters.includes('type:shield')}">盾牌</span>
    </div>
    <div [ngClass]="'list'">
      <span>鑲孔數</span>
      <span (click)="addfilter('slot:2')" [ngClass]="{'active': filters.includes('slot:2')}">2</span>
      <span (click)="addfilter('slot:3')" [ngClass]="{'active': filters.includes('slot:3')}">3</span>
      <span (click)="addfilter('slot:4')" [ngClass]="{'active': filters.includes('slot:4')}">4</span>
      <span (click)="addfilter('slot:5')" [ngClass]="{'active': filters.includes('slot:5')}">5</span>
      <span (click)="addfilter('slot:6')" [ngClass]="{'active': filters.includes('slot:6')}">6</span>
    </div>
    <div [ngClass]="'list'">
      <span>職業</span>
      <span (click)="addfilter('limit:sorceress')" [ngClass]="{'active': filters.includes('limit:sorceress')}">魔法使</span>
      <span (click)="addfilter('limit:paladin')" [ngClass]="{'active': filters.includes('limit:paladin')}">聖騎士</span>
      <span (click)="addfilter('limit:necromancer')" [ngClass]="{'active': filters.includes('limit:necromancer')}">死靈法師</span>
      <span (click)="addfilter('limit:amazon')" [ngClass]="{'active': filters.includes('limit:amazon')}">亞馬遜</span>
      <span (click)="addfilter('limit:barbarian')" [ngClass]="{'active': filters.includes('limit:barbarian')}">野蠻人</span>
      <span (click)="addfilter('limit:assassin')" [ngClass]="{'active': filters.includes('limit:assassin')}">刺客</span>
      <span (click)="addfilter('limit:druid')" [ngClass]="{'active': filters.includes('limit:druid')}">德魯伊</span>
    </div>
    <div [ngClass]="'list'">
      <span>武器</span>
      <span (click)="addfilter('weaponlimit:sword')" [ngClass]="{'active': filters.includes('weaponlimit:sword')}">刀劍</span>
      <span (click)="addfilter('weaponlimit:axe')" [ngClass]="{'active': filters.includes('weaponlimit:axe')}">斧頭</span>
      <span (click)="addfilter('weaponlimit:polearm')" [ngClass]="{'active': filters.includes('weaponlimit:polearm')}">長柄</span>
      <span (click)="addfilter('weaponlimit:mace')" [ngClass]="{'active': filters.includes('weaponlimit:mace')}">釘鎚</span>
      <span (click)="addfilter('weaponlimit:scepter')" [ngClass]="{'active': filters.includes('weaponlimit:scepter')}">權杖</span>
      <span (click)="addfilter('weaponlimit:wand')" [ngClass]="{'active': filters.includes('weaponlimit:wand')}">魔杖</span>
      <span (click)="addfilter('weaponlimit:staff')" [ngClass]="{'active': filters.includes('weaponlimit:staff')}">法杖</span>
      <span (click)="addfilter('weaponlimit:assassinkatar')" [ngClass]="{'active': filters.includes('weaponlimit:assassinkatar')}">爪</span>
      <span (click)="addfilter('weaponlimit:club')" [ngClass]="{'active': filters.includes('weaponlimit:club')}">棍棒</span>
      <span (click)="addfilter('weaponlimit:hammer')" [ngClass]="{'active': filters.includes('weaponlimit:hammer')}">槌子</span>
      <span (click)="addfilter('weaponlimit:weapons')" [ngClass]="{'active': filters.includes('weaponlimit:weapons')}">任何武器</span>
    </div>
    <div [ngClass]="'list'">
      <span>攻擊類型</span>
      <span (click)="addfilter('attack:melee')" [ngClass]="{'active': filters.includes('attack:melee')}">近戰</span>
      <span (click)="addfilter('attack:missile')" [ngClass]="{'active': filters.includes('attack:missile')}">遠程</span>
    </div>
    <div [ngClass]="'list'">
      <span>符文</span>
      <span (click)="addfilter('rune:El')" [ngClass]="{'active': filters.includes('rune:El')}">艾爾(1)</span>
      <span (click)="addfilter('rune:Eld')" [ngClass]="{'active': filters.includes('rune:Eld')}">艾德(2)</span>
      <span (click)="addfilter('rune:Tir')" [ngClass]="{'active': filters.includes('rune:Tir')}">特爾(3)</span>
      <span (click)="addfilter('rune:Nef')" [ngClass]="{'active': filters.includes('rune:Nef')}">那夫(4)</span>
      <span (click)="addfilter('rune:Eth')" [ngClass]="{'active': filters.includes('rune:Eth')}">愛斯(5)</span>
      <span (click)="addfilter('rune:Ith')" [ngClass]="{'active': filters.includes('rune:Ith')}">伊司(6)</span>
      <span (click)="addfilter('rune:Tal')" [ngClass]="{'active': filters.includes('rune:Tal')}">塔爾(7)</span>
      <span (click)="addfilter('rune:Ral')" [ngClass]="{'active': filters.includes('rune:Ral')}">拉爾(8)</span>
      <span (click)="addfilter('rune:Ort')" [ngClass]="{'active': filters.includes('rune:Ort')}">歐特(9)</span>
      <span (click)="addfilter('rune:Thul')" [ngClass]="{'active': filters.includes('rune:Thul')}">書爾(10)</span>
      <span (click)="addfilter('rune:Amn')" [ngClass]="{'active': filters.includes('rune:Amn')}">安姆(11)</span>
      <span (click)="addfilter('rune:Sol')" [ngClass]="{'active': filters.includes('rune:Sol')}">索爾(12)</span>
      <span (click)="addfilter('rune:Shael')" [ngClass]="{'active': filters.includes('rune:Shael')}">夏(13)</span>
      <span (click)="addfilter('rune:Dol')" [ngClass]="{'active': filters.includes('rune:Dol')}">多爾(14)</span>
      <span (click)="addfilter('rune:Hel')" [ngClass]="{'active': filters.includes('rune:Hel')}">海爾(15)</span>
      <span (click)="addfilter('rune:Io')" [ngClass]="{'active': filters.includes('rune:Io')}">埃歐(16)</span>
      <span (click)="addfilter('rune:Lum')" [ngClass]="{'active': filters.includes('rune:Lum')}">盧姆(17)</span>
      <span (click)="addfilter('rune:Ko')" [ngClass]="{'active': filters.includes('rune:Ko')}">科(18)</span>
      <span (click)="addfilter('rune:Fal')" [ngClass]="{'active': filters.includes('rune:Fal')}">法爾(19)</span>
      <span (click)="addfilter('rune:Lem')" [ngClass]="{'active': filters.includes('rune:Lem')}">藍姆(20)</span>
      <span (click)="addfilter('rune:Pul')" [ngClass]="{'active': filters.includes('rune:Pul')}">普爾(21)</span>
      <span (click)="addfilter('rune:Um')" [ngClass]="{'active': filters.includes('rune:Um')}">烏姆(22)</span>
      <span (click)="addfilter('rune:Mal')" [ngClass]="{'active': filters.includes('rune:Mal')}">馬爾(23)</span>
      <span (click)="addfilter('rune:Ist')" [ngClass]="{'active': filters.includes('rune:Ist')}">伊斯特(24)</span>
      <span (click)="addfilter('rune:Gul')" [ngClass]="{'active': filters.includes('rune:Gul')}">古爾(25)</span>
      <span (click)="addfilter('rune:Vex')" [ngClass]="{'active': filters.includes('rune:Vex')}">伐克斯(26)</span>
      <span (click)="addfilter('rune:Ohm')" [ngClass]="{'active': filters.includes('rune:Ohm')}">歐姆(27)</span>
      <span (click)="addfilter('rune:Lo')" [ngClass]="{'active': filters.includes('rune:Lo')}">羅(28)</span>
      <span (click)="addfilter('rune:Sur')" [ngClass]="{'active': filters.includes('rune:Sur')}">瑟(29)</span>
      <span (click)="addfilter('rune:Ber')" [ngClass]="{'active': filters.includes('rune:Ber')}">貝(30)</span>
      <span (click)="addfilter('rune:Jah')" [ngClass]="{'active': filters.includes('rune:Jah')}">喬(31)</span>
      <span (click)="addfilter('rune:Cham')" [ngClass]="{'active': filters.includes('rune:Cham')}">查姆(32)</span>
      <span (click)="addfilter('rune:Zod')" [ngClass]="{'active': filters.includes('rune:Zod')}">薩德(33)</span>
    </div>
    <div [ngClass]="'list'">
      <span>天梯</span>
      <span (click)="addfilter('ladder:ladder')" [ngClass]="{'active': filters.includes('ladder:ladder')}">天梯</span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
