.contain{
  background-color:  rgb(28 28 28 / 80%);
  color: white;
  font-size: 26px;
  line-height: 30px;
  padding: 16px;
  margin-top: 16px;
  border-radius: 10px;
  white-space: normal;

  a{
    color: #dcc684;
  }
}
