.title {
  background-color: #444444;
  color: #bb9e74;
  padding: 24px;
  font-size: 20pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.armors {
  width: 100%;
  text-align: center;
  color: white;
  border-collapse: collapse;
  margin-bottom: 10px;
  background-color: #444444;

  th,
  td {
    padding: 8px;
    border: 1px solid #353535;
    white-space: pre-line;
    line-height: 24px;
  }

  th {
    font-size: 20px;
    background-color: #303030;
  }

  tr.top {
    background-color: #3c3c3c;
  }

  tr.bottom {
    border-bottom: 4px solid rgb(0 0 0 / 40%);
  }

  tr:nth-child(odd) {
    background-color: #444444;
  }

  tr:nth-child(even) {
    background-color: #3c3c3c;
  }

  tr:last-child {
    border-bottom: none;
  }

  tr .desc {
    color: #c9b012;
    font-size: 14px;
  }

  tr:hover {
    background-color: #272727;
  }

  tr td[rowspan] {
    vertical-align: top;
  }

  td {
    font-size: 20px;

    button {
      margin: 0 10px 0 0;
      border-bottom: 1px solid #f8d55a;

      &:hover{
        background-color: #32475d;
      }
    }

    a {
      cursor: pointer;
      color: #a58d6d;
    }

    .name {
      color: #dcc684;
    }

    .ladder {
      color: #8b8b8b;
    }

    .slot {
      color: #7a7aff;
    }

    &.limit {
      text-align: left;
      line-height: 24px;
    }

    .rune {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffba00;
      flex-wrap: wrap;

      img {
        width: 24px;
      }

      * {
        margin: 4px;
      }
    }

    &.effect {
      color: #7a7aff;
    }

    span {
      white-space: pre-wrap;
    }
  }

  .margin {
    border-bottom: 20px solid #222222;
  }
}
