<div [ngClass]="'title'">超級獨特怪物</div>
<div>
  <table [ngClass]="'armors'">
    <thead>
      <th>名稱</th>
      <th>英文名稱</th>
      <th>類別</th>
      <th>掉落</th>
    </thead>
    <tbody>
      <tr *ngFor="let superunique of superuniques | async">
        <td>{{ superunique.name }}
        </td>
        <td>{{ superunique.name_en }}
        </td>
        <td><a [routerLink]="['../', 'monster', 'detail', superunique.class.id]">{{ superunique.class.name }}</a>
        </td>
        <td>
          <button *ngIf="superunique.tc.o" mat-stroked-button (click)="showTC(superunique.tc.o)">普通</button>
          <button *ngIf="superunique.tc.n" mat-stroked-button (click)="showTC(superunique.tc.n)">惡夢</button>
          <button *ngIf="superunique.tc.h" mat-stroked-button (click)="showTC(superunique.tc.h)">地獄</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
