<!-- <div [ngClass]="'publish'">
  <p>此網站為閒情所致</p>
  <p>預計新增物品(基礎物品、暗金、套裝)...等資料</p>
  <p>&nbsp;</p>
  <p>資料來源：<br>
    <a href="http://iyazero.tw/Default.htm">易牙居</a><br>
    <a href="https://zhong1016.github.io/Vue3Demo-Diablo/">A.P.E 攻略網</a>
  </p>
</div> -->
<div [ngClass]="'contents'">
  <div [ngClass]="'block'">
    <div [ngClass]="'title'">
      物品
    </div>
    <div [ngClass]="'rwords'">
      <div [ngClass]="'list'">
        <span>裝備</span>
        <span><a [routerLink]="['/', 'items', 'normal']">基礎裝備</a></span>
        <span><a [routerLink]="['/', 'items', 'unique']">獨特裝備</a></span>
        <span><a [routerLink]="['/', 'items', 'set']">成套裝備</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>寶石</span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'skull']">骷髏石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'amethyst']">紫寶石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'ruby']">紅寶石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'sapphire']">藍寶石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'topaz']">黃寶石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'emerald']">綠寶石</a></span>
        <span><a [routerLink]="['/', 'items', 'gem', 'filter', 'type', 'diamond']">鑽石</a></span>
      </div>
    </div>
  </div>
  <div [ngClass]="'block'">
    <div [ngClass]="'title'">
      符文
    </div>
    <div [ngClass]="'rwords'">
      <div [ngClass]="'list'">
        <span>符文</span>
        <span><a [routerLink]="['/', 'runewords', 'rune']">符文</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>符文組</span>
        <span><a [routerLink]="['/', 'runewords', 'filter', 'WyJ0eXBlOndlYXBvbiJd']">武器</a></span>
        <span><a [routerLink]="['/', 'runewords', 'filter', 'WyJ0eXBlOmhlbG1ldCJd']">頭盔</a></span>
        <span><a [routerLink]="['/', 'runewords', 'filter', 'WyJ0eXBlOmFybW9yIl0%3D']">盔甲</a></span>
        <span><a [routerLink]="['/', 'runewords', 'filter', 'WyJ0eXBlOnNoaWVsZCJd']">盾牌</a></span>
      </div>
    </div>
  </div>
  <div [ngClass]="'block'">
    <div [ngClass]="'title'">
      配方
    </div>
    <div [ngClass]="'rwords'">
      <div [ngClass]="'list'">
        <span>方塊</span>
        <span><a [routerLink]="['/', 'recipes', 'craft']">手工藝</a></span>
        <span><a [routerLink]="['/', 'recipes', 'runes']">符文</a></span>
        <span><a [routerLink]="['/', 'recipes', 'items']">物品</a></span>
        <span><a [routerLink]="['/', 'recipes', 'equipments']">裝備</a></span>
      </div>
    </div>
  </div>
  <div [ngClass]="'block'">
    <div [ngClass]="'title'">
      詞綴
    </div>
    <div [ngClass]="'rwords'">
      <div [ngClass]="'list'">
        <span>咒符</span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'smallcharm']">小型咒符</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'mediumcharm']">大型咒符</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'largecharm']">特大咒符</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>珠寶</span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'jewelry']">珠寶</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>武器</span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'sword,weapon,melee']">刀劍</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'axe,weapon,melee']">斧頭</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'polearm,weapon,melee']">長柄</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'spear,weapon,melee']">長矛</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'mace,weapon,melee']">釘鎚</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'scepter,weapon,melee']">權杖</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'bow,weapon,missile']">弓</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'crossbow,weapon,missile']">弩</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'javelin,weapon,melee']">標槍</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'dagger,weapon,melee']">匕首</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'throwing,weapon,missile']">投擲武器</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'wand,weapon,melee']">魔杖</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'staff,weapon,melee']">法杖</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'orb,weapon,melee']">法珠</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'katar,weapon,melee']">爪</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'club,weapon,melee']">棍棒</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'hammer,weapon,melee']">槌子</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>防具</span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'helmet']">頭盔</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'helmet,barbarianhelm']">野蠻人頭盔</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'helmet,druidpeltshelm']">德魯伊頭盔</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'armor']">盔甲</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'belt']">腰帶</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'glove']">手套</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'boot']">鞋子</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'shield']">盾牌</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'shield,paladinshield']">聖騎士盾牌</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'shield,ncershrunkenhead']">死靈法師盾牌</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'circlet']">頭飾</a></span>
      </div>
      <div [ngClass]="'list'">
        <span>飾品</span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'necklace']">護身符</a></span>
        <span><a [routerLink]="['/', 'affixes', 'filter', 'part', 'ring']">戒指</a></span>
      </div>
    </div>
  </div>
</div>
