.title {
  background-color: #444444;
  color: #bb9e74;
  padding: 24px;
  font-size: 20pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.groups {
  display: flex;
  padding: 12px;
  font-size: 20px;
  color: white;
  background: rgb(34 34 34);
  border: 2px solid rgba(56, 118, 46, 0.5);
  margin-bottom: 10px;

  span {
    color: rgb(3 203 203);
  }

  .sets {
    display: flex;
    flex-wrap: wrap;

    .block {
      border: 1px solid rgb(48 48 48 / 70%);
      border-radius: 5px;
      padding: 12px;
      margin: 4px;
      background-color: rgb(0 0 0 / 40%);
      box-shadow: 1px 1px 1px rgb(0 0 0 / 60%);

      .images {
        text-align: center;
      }

      .name {
        color: #14c514;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }

  .seteffect {
    border: 1px solid rgb(48 48 48 / 70%);
    border-radius: 5px;
    padding: 12px;
    margin: 4px;
    background-color: rgb(0 0 0 / 40%);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 60%);
  }

  .effecttitle {
    color: #00db00;
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  .effect {
    color: #7a7aff;
    line-height: 24px;
  }
}
