.title {
  background-color: #444444;
  color: #bb9e74;
  padding: 24px;
  font-size: 20pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.affixes {
  width: 100%;
  // text-align: center;
  color: white;
  // border-collapse: collapse;
  margin-bottom: 10px;
  background-color: #444444;
  // display: flex;

  .container {
    width: 100%;
    // padding: 20px;
    display: flex;

    .prefix,
    .suffix {
      font-size: 20px;
      width: 100%;
      padding: 10px;

      .block {
        .affixe {
          background-color: #1f2020;
          padding: 3px 12px;
          margin: 5px 0px;
          border-radius: 10px;
          color: #7a7aff;
          cursor: pointer;
          white-space: pre-line;
          position: relative;

          .level {
            color: white;
            background-color: #444444;
            padding: 0px 7px;
            border-radius: 0.5em;
            font-size: 14px;
            margin-right: 10px
          }

          .rare{
            position: absolute;
            right: 10px;
            border-radius: 0.5em;
            background-color: #444444;
            font-size: 14px;
            padding: 0px 7px;
            top: 5px;
          }

          &:nth-child(odd) {
            background-color: #222222;
          }

          &:nth-child(even) {
            background-color: #2a2a2a;
          }

          &:hover {
            background-color: #061f3c;
          }
        }
      }
    }
  }
}

.fas {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-color: transparent transparent transparent #878787;
  display: inline-block;
}
