<div [ngClass]="'title'">{{ type }}:{{ type_detail}}</div>
<div [ngClass]="'affixes'">
  <div [ngClass]="'container'">
    <div [ngClass]="'prefix'">
      前綴
      <div [ngClass]="'block'" *ngIf="prefixs | async | filteraffixe: type : type_detail; let pres">
        <div [ngClass]="'affixe'" *ngFor="let p of pres" (click)="showDetail(p.format, p.abilitys)">
          <ng-container *ngIf="p.abilitys | filteraffixe: type : type_detail; let abilitys">
            <span [ngClass]="'level'" [matTooltip]="'物品等級'">
              {{ getMaxlevel(abilitys) }}
            </span>
            <ng-container *ngIf="abilitys.length === 1">
              <span [innerHTML]="showAbility(p.format, abilitys[0].value)"></span>
            </ng-container>
            <ng-container *ngIf="abilitys.length > 1">
              <span [innerHTML]="showAffixe(p.format, '#')"></span>
            </ng-container>
            <span [ngClass]="'rare'" [innerHTML]="getMaxlevelRare(abilitys, type_detail)"></span>
            <span [ngClass]="'frequency'" [matTooltip]="'出現頻率'">
              {{ getMaxlevelFrequency(abilitys) }}
            </span>
          </ng-container>
        </div>
      </div>
    </div>
    <div [ngClass]="'suffix'">
      後綴
      <div [ngClass]="'block'" *ngIf="suffixs | async | filteraffixe: type : type_detail; let sufs">
        <div [ngClass]="'affixe'" *ngFor="let s of sufs" (click)="showDetail(s.format, s.abilitys)">
          <ng-container *ngIf="s.abilitys | filteraffixe: type : type_detail; let abilitys">
            <span [ngClass]="'level'">
              {{ getMaxlevel(abilitys) }}
            </span>
            <ng-container *ngIf="abilitys.length === 1">
              <span [innerHTML]="showAbility(s.format, abilitys[0].value)"></span>
            </ng-container>
            <ng-container *ngIf="abilitys.length > 1">
              <span [innerHTML]="showAffixe(s.format, '#')"></span>
            </ng-container>
            <span [ngClass]="'rare'" [innerHTML]="getMaxlevelRare(abilitys, type_detail)"></span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
